<div class="col-md-6 col-xs-12 col-lg-4 mb-4">
  <div class="card" id="<%= id %>">
    <div class="card-header">
      <h3><%= title %></h3>
    </div>
    <%= public_image_tag(image, class: "card-img-top") %>
    <div class="card-body">
      <p class="card-text"><%= text %></p>
    </div>
  </div>
</div>
