<div class="timeline">
  <div class="timeline-content">
    <div class="timeline-icon">
      <%= public_image_tag(image) %>
    </div>
    <div class="inner-content">
      <h3 class="title"><%= title %></h3>
      <p class="description">
        <%= text %>
      </p>
    </div>
  </div>
</div>
