<div class="timeline">
  <div class="timeline-content">
    <div class="timeline-icon">
      <i class="fa fa-<%= icon %>"></i>
    </div>
    <div class="inner-content">
      <h3 class="title"><%= title %></h3>
      <p class="description">
        <%= yield %>
      </p>
    </div>
  </div>
</div>
