<% provide(:title, t('.title')) %>

<h1 class="mb-3"><%= t '.header' %></h1>

<div class="card mb-3">
  <div class="card-body">
    <%= t '.info_text_html' %>
    &#x70;&#x68;&#x69;&#x6c;&#x69;&#x70;&#x70;&#x65;&#x2e;&#x34;&#x34;&#x40;&#x67;&#x6d;&#x61;&#x69;&#x6c;&#x2e;&#x63;&#x6f;&#x6d;, &#x65;&#x6d;&#x6d;&#x61;&#x6e;&#x75;&#x65;&#x6c;&#x6c;&#x65;&#x2e;&#x73;&#x61;&#x69;&#x6c;&#x6c;&#x61;&#x72;&#x64;&#x40;&#x67;&#x6d;&#x61;&#x69;&#x6c;&#x2e;&#x63;&#x6f;&#x6d;
  </div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <%= t '.list.title' %>
  </div>
  <div class="card-body">
    <%= t '.list.text_html' %>
  </div>
</div>
