<% provide(:title, "Les lieux importants") %>

<h1>À La Boussac</h1>

<div class="row">
  <div class="col-md-6 col-xs-12 col-lg-4 mb-4">
    <div class="card">
      <div class="card-header">
        La mairie
      </div>
      <%= public_image_tag("images/lieu.jpg", class: "card-img-top") %>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 col-lg-4 mb-4">
    <div class="card">
      <div class="card-header">
        La maison familiale
      </div>
      <%= public_image_tag("images/maison.jpg", class: "card-img-top") %>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 col-lg-4 mb-4">
    <div class="card">
      <div class="card-header">
        La salle des fêtes
      </div>
      <%= public_image_tag("images/salle_fete.jpg", class: "card-img-top") %>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-12 mb-4">
    <div class="card">
      <div class="card-header">
        Plan
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
