<% provide(:title, t('.title')) %>

<h1><%= t '.header' %></h1>
<% schedule = {
  wednesday: {
    mairie: { path: page_path("location", anchor: "mairie") },
    ceremonie: { path: page_path("location", anchor: "maison") },
    cocktail: {},
    diner: { path: page_path("location", anchor: "salle") },
  },
  thursday: {
    soupe: {},
    mechoui: { path: page_path("location", anchor: "salle") },
  },
} %>

<div class="row">
  <div class="col-12 mb-4">
    <div class="card schedule-container">
      <div class="card-body">
        <% schedule.each do |day, activities| %>
          <h2><%= t ".#{day}" %></h2>
          <div class="main-timeline">
            <% activities.each do |a, args| %>
              <% link = args.has_key?(:path) ? link_to(t(".#{a}.link_text"), args[:path]) : nil %>
              <%= render("shared/scheduled_event",
                         image: "images/schedule/#{a}.png",
                         title: t(".#{a}.title"),
                         text: t(".#{a}.text_html", link: link)) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
