.card-header {
  background-color: $card-header;
}

.custom-checkbox {
  padding-left: 15px;
  .custom-control-label {
    &::before {
      border: 1px solid #aaa;
    }
    margin-left: 25px;
  }
}

a {
  color: $regular-link-color;
  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: $hover-link-color;
  }
}

.navbar.nav-test-2 {
  .navbar-toggler {
    border-color: $card-bg;
  }
  .navbar-toggler-icon {
    // TODO: fix the color
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,135,211, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .nav-item {
    @extend .mx-2, .my-1;
    background-color: $card-bg;
    border-radius: 0.25rem;
    font-weight: bold;
    &:hover {
      background-color: $card-header;
      a {
        color: $card-bg;
      }
      .nav-link > img {
        border-color: $card-bg;
      }
    }
    .nav-link {
      @extend .px-3;
      color: $card-header;
      img {
        @extend .rounded-circle;
        border: 2px solid $card-header;
        width: 40px;
        height: 40px;
      }
    }
  }
}

.avatar-thumbnail {
  display: inline-block;
  vertical-align: middle;

  background-size: cover;
  width: 50px;
  height: 50px;

  &.avatar-thumbnail-lg {
    width: 100px;
    height: 100px;
  }
  .nav-user > & {
    width: 30px;
    height: 30px;
  }
}

.wedding-guest {
  .info {
    display: inline-block;
    vertical-align: middle;
  }
  .avatar-thumbnail {
    margin-right: 5px;
  }
  .name {
    white-space: nowrap;
  }
  .invited_by {
    font-style: italic;
  }
}

canvas {
  border: 1px solid black;
}
