.card {
  color: $footer-bg-color;
  :not(.list-group):not(p.description) {
    & > a {
      &, &:hover {
        text-decoration: underline;
        color: $footer-bg-color;
      }
    }
  }
  .card-header {
    color: $default-color;
    background-color: $card-header;
  }
}

.custom-checkbox {
  padding-left: 15px;
  .custom-control-label {
    &::before {
      border: 1px solid #aaa;
    }
    margin-left: 25px;
  }
}

a {
  color: $regular-link-color;
  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: $hover-link-color;
  }
}

.nav-tabs {
  a:not(active) {
    color: darken($footer-bg-color, 10%);
  }
}

.btn-custom {
    @include button-variant($footer-bg-color, $footer-bg-color, darken($footer-bg-color, 10%), lighten($footer-bg-color,5%), lighten($footer-bg-color, 10%), darken($footer-bg-color,10%));
}

.avatar-thumbnail {
  display: inline-block;
  vertical-align: middle;

  background-size: cover;
  width: 50px;
  height: 50px;

  &.avatar-thumbnail-lg {
    width: 100px;
    height: 100px;
  }
  .nav-user > & {
    width: 30px;
    height: 30px;
  }
}

.wedding-guest {
  .info {
    display: inline-block;
    vertical-align: middle;
  }
  .avatar-thumbnail {
    margin-right: 5px;
  }
  .name {
    white-space: nowrap;
  }
  .invited_by {
    font-style: italic;
  }
}

canvas {
  border: 1px solid black;
}
