html {
  // for a fixed footer
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height+15;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background-color: $footer-bg-color;
  .container {
    text-align: center;
  }
}
