@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

@import '~flag-icon-css/sass/flag-icon';
@import 'selectize/dist/css/selectize.bootstrap3.css';

/* latin */
@font-face {
  font-family: 'Weather Sunday';
  font-style: normal;
  font-weight: 400;
  src: local('Weather Sunday Regular'), local('weather_sunday'), url('weather_sunday.otf') format('opentype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import 'common';
@import 'layout';
@import 'footer';
@import 'homepage';
@import 'location';
@import 'schedule';

