/*$bg-header: #942a57;*/
/*$bg-header: #90446b;*/
$bg-header: #f3c0d9;
$footer-height: 50px;
$footer-bg-color: #4b2536;

$default-color: white;

// links color
$regular-link-color: white;
$hover-link-color: white;

// Bootstrap override
$secondary: white;
$card-bg: #bb7794;
// this one is not a bootstrap variable
$card-header: $footer-bg-color;
$card-border-color: $card-header;
$list-group-bg: $card-bg;
$text-muted: #dee2e6;

$list-group-bg: $footer-bg-color;
$list-group-hover-bg: lighten($list-group-bg, 10%);
$list-group-action-color: $regular-link-color;

$nav-tabs-border-color: $footer-bg-color;
$nav-tabs-link-hover-border-color: $footer-bg-color;
$nav-tabs-link-active-bg: $footer-bg-color;
$nav-tabs-link-active-border-color: $footer-bg-color;
$nav-tabs-link-active-color: $default-color;

// golden:
// reg: #ffba00
// hover: #b78500
