$bg-header: #ffdbf2;
//other ideas for bg header: #ff87d3
$border-color: #ff87d3;
$footer-height: 50px;

// links color
$regular-link-color: $border-color;
$hover-link-color: #bc639b;

// golden:
// reg: #ffba00
// hover: #b78500
