<footer class="footer">
  <div class="container">
    <p class="text-muted m-0">
      <a href="https://github.com/viroulep/manouetfifi" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </p>
  </div>
</footer>
